## VERIFICATION REPORT LINK:
[ALU VERIFICATION REPORT](https://docs.google.com/document/d/14VToNb2wWPj4PCbbs0UZLAi3cE9n1vAi/edit?usp=drive_link&ouid=113766502478178390742&rtpof=true&sd=true)
